<div class="container">
    <div class="cuadroBotones">
        <div class="row">
            <div class="col-lg-12 text-center">
                <span class="textCategorias">Categorias</span>
            </div>
        </div>
        <div *ngIf="undefined === listCategorias">Loading...</div>
        <div *ngIf="undefined !== listCategorias">
            <div class="row text-center">
                <div *ngFor="let cat of listCategorias">
                    <div class="col-md-3 text-center">
                        <button class="button btn-hotels" (click)="next()" [ngStyle]="{'background-image': 'url(' + cat.img + ')'}">{{cat.nombre}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>