<app-header></app-header>
<div class="background">
    <div class="container">
        <div *ngIf="undefined === DetalleEstablecimiento">Loading...</div>
        <div *ngIf="undefined !== DetalleEstablecimiento">
            <div class="row text-center">
                <span class="textNombre center {{DetalleEstablecimiento.color}}">{{DetalleEstablecimiento.nombre}}</span>
            </div>
            <div class="row">
                <span class="textDescripcion">{{DetalleEstablecimiento.descripcion}}</span>
            </div>
            <div class="container contain">
                <div class="row">
                    <div class="col-sm-5 text-center">
                        <div class="gmap" style="border-color: '{{DetalleEstablecimiento.color}}'">
                            <agm-map [latitude]="lat" [longitude]="lng">
                                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                            </agm-map>
                        </div>
                    </div>
                    <div class="col-sm-7 detail">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <button type="button" class="btn btn-{{DetalleEstablecimiento.color}}">Reservar</button>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row form-group form-group-bottom">
                                    <div class="col-sm-6 text-left">
                                        <ul>
                                            <li>Servicios
                                                <ul>
                                                    <div *ngFor="let serv of DetalleEstablecimiento.services">
                                                        <li>
                                                            <i class="fas fa-{{serv.icon}}"></i>
                                                            <b>{{serv.titulo}}</b>: {{serv.descripcion}}</li>
                                                    </div>
                                                </ul>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        <span class="bDetalle">Teléfono:</span>
                                        <span class="result">{{DetalleEstablecimiento.telefono}}</span>
                                    </div>
                                </div>
                                <div class="row form-group form-group-bottom">
                                    <div class="col-sm-6 text-left">
                                        <span class="bDetalle">Dirección:</span>
                                        <span class="result">{{DetalleEstablecimiento.direccion}}</span>
                                    </div>
                                    <div class="col-sm-6 text-left">
                                        <span class="bDetalle">Tipo de Música:</span>
                                        <span class="result">{{DetalleEstablecimiento.music}}</span>
                                    </div>
                                </div>
                                <hr class="hrDetalle">
                                <div class="row form-group form-group-bottom">
                                    <div class="col-sm-12 text-left">
                                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                            <div class="carousel-inner">
                                                <div *ngFor="let slide of DetalleEstablecimiento.images; let i=index">
                                                    <div class="carousel-item active">
                                                        <img class="d-block w-100" src="{{slide}}" alt="First slide">
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>